
.field-preset_selectbox {

	--standard-field-background-color: var(--color-main-light) !important;
	--standard-field-border-color: var(--color-main);
	--standard-field-hover-color: var(--color-main-dark);
	--standard-label-color: var(--color-main-light);
	
	border-left-color: transparent;
	border-right-color: transparent;
}

.field-preset_selectbox+:not(.field-preset_selectbox) {
	margin-top: 1px;
}

.field-preset_selectbox label>span {
	top: calc(-1 * var(--spacing-pico) - .75em);
	padding: var(--spacing-pico) var(--spacing-nano);
}

.field-preset_selectbox:not(:hover) label>span {
	opacity: 0;
}

.field-preset_selectbox label+* {
	/*margin-top: var(--compensate-for-inner-field-label);*/
}
/*
.preset-selectbox-wrapper {
	width: 100%;
}
*/
.preset-selectbox-ctn {
	/*background-color: var(--color-main-lighter);*/
	/*border-radius: 2px;*/
	/*border: 1px solid var(--color-main-lighter);*/
	display: flex;
	flex-flow: wrap;
	padding: 3%;
}

.preset-selectbox-ctn.is-hidden {
	display: none;
}

.preset-selectbox-choice {
	--standard-label-color: var(--color-main-light);
	--standard-field-hover-color: var(--color-main-lighter);

	/*max-width: var(--spacing-thinner);*/
	width: max-content;
	flex-grow: 1;
	margin-right: 1%;
	/*position: static;*/
}

.preset-selectbox-ctn input {
	display: none;
}

.preset-selectbox-ctn label {
	cursor: pointer;
	border-radius: var(--radius-small);
	background-color: var(--color-main);
	width: 100%;
	height: auto;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: var(--spacing-pico);
	/*padding: 0.5rem 0.8rem;*/
	/*box-sizing: border-box;*/
	/*margin: 1px !important;*/
	border: 2px solid transparent;
	font-size: var(--text-smaller);
	/*color: var(--color-main-dark);*/
	user-select: none;
	box-sizing: border-box;
}

.preset-selectbox-ctn .icon {
	display: flex;
	color: inherit;
	align-self: stretch;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}

.preset-selectbox-ctn label:hover {
	--standard-field-hover-color: var(--color-main-lightest);

	background-color: var(--color-main-dark);
	border: 2px solid var(--color-accent);
}

.preset-selectbox-ctn input:checked + label {
	color: var(--color-accent-light);
	background-color: var(--color-main-dark);
	border: 2px solid var(--color-accent-alt);
}

.preset-selectbox-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: var(--spacing-smallish);
}

.field-preset_selectbox .preset-selectbox-toggle .plus, .field-preset_selectbox .preset-selectbox-toggle .minus {
	cursor: pointer;
}

.field-preset_selectbox .preset-selectbox-toggle input {
	display: none;
}

.field-preset_selectbox .preset-selectbox-toggle input + .icons .minus, .field-preset_selectbox .preset-selectbox-toggle input:checked + .icons .plus {
	display: none;
}

.field-preset_selectbox .preset-selectbox-toggle input:checked + .icons .minus {
	display: block;
}
